{% extends 'manage_admin.html' %}
{% load static %}

{% block content1 %}
<!--python manage.py runserver 0.0.0.0:8000   '192.168.63.125'  -->

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a class="btn btn-outline-success button-style" href="{% url 'create_products' %}">Add product</a>
        </div>

        <br>

        <div class="box-element mb-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Digital</th>
                        <th scope="col">Price</th>
                        <th scope="col" style="width: 100px;">Update</th>
                        <th scope="col" style="width: 80px;">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td><img class="row-image my-image" src="{{ product.imageURL }}"></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.digital }}</td>
                        <td>${{ product.price|floatformat:2 }}</td>
                        <td><a class="btn btn-success button-style" href="{% url 'update_products' product.id %}">Update</a></td>
                        <td><a class="btn btn-danger button-style" href="{% url 'delete_products' product.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>     <!-- box-element end -->

    </div>     <!-- col-lg-12 end -->


</div>
</div>
{% endblock content1 %}