{% extends 'store/main.html' %}



{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>error</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


        {% endfor %}

    {% endif %}
    <h2>Login</h2>
    <br>
    <form method="post">{% csrf_token %}


  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>


        <br/>
        <button type="submit" value="Submit" class="btn btn-outline-success ml-2">Kirish</button>
<!--        <a class="btn btn-outline-danger" href="{% url 'password_reset' %}" role="button" >Kalit so'zni tiklash</a>-->
    </form>
</div>
{% endblock content %}